# Obtaining launch data set
## for Launch Sites with Full names

In [1]:
# Requests allows us to make HTTP requests which we will use to get data from an API
import requests
# Pandas is a software library written for the Python programming language
#   for data manipulation and analysis.
import pandas as pd
# NumPy is a library for the Python programming language, adding support
#   for large, multi-dimensional arrays and matrices, along with a large
#   collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Datetime is a library that allows us to represent dates
import datetime

# Setting this option will print all collumns of a dataframe
pd.set_option('display.max_columns', None)
# Setting this option will print all of the data in a feature
pd.set_option('display.max_colwidth', None)

From the <code>launchpad</code> we would like to know the name of the launch site being used, the logitude, and the latitude.

In [2]:
# Want a listing of the launchpads used, with interesting info
#   (In particular I need the decode for the cryptic short names!)
spacex_url = "https://api.spacexdata.com/v4/launchpads"

In [3]:
response = requests.get(spacex_url)

We should see that the request was successful with the 200 status response code

In [4]:
response.status_code

200

Now we decode the response content as a Json using <code>.json()</code> and turn it into a Pandas dataframe using <code>.json_normalize()</code>

In [5]:
# Use json_normalize method to convert the json result into a dataframe
data = pd.json_normalize(response.json())

In [6]:
# Some quick data checks and explorations...
# data.to_csv('launches-CourseData-0.csv', index = False)
# data.shape
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              6 non-null      object
 1   full_name         6 non-null      object
 2   locality          6 non-null      object
 3   region            6 non-null      object
 4   latitude          6 non-null      float64
 5   longitude         6 non-null      float64
 6   launch_attempts   6 non-null      int64
 7   launch_successes  6 non-null      int64
 8   rockets           6 non-null      object
 9   timezone          6 non-null      object
 10  launches          6 non-null      object
 11  status            6 non-null      object
 12  details           6 non-null      object
 13  id                6 non-null      object
 14  images.large      6 non-null      object
dtypes: float64(2), int64(2), object(11)
memory usage: 852.0+ bytes

Delete some unwanted columns, and
using the dataframe <code>data</code> print the first few rows

In [7]:
# syntax for datafr.drop(labels=None, *, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

data.drop(labels=['launches','rockets','id', 'timezone'], axis=1, inplace=True)
data.drop(['details'], axis='columns', inplace=True)  # axis can be 0/'index' or 1/'columns'
data.drop(columns=['images.large'], inplace=True)     # can skip both labels= (1st param) and axis, to specify rows/columns=[list]

# Get the head of the dataframe (Actually only 6 rows!)
data.head(10)

,name,full_name,locality,region,latitude,longitude,launch_attempts,launch_successes,status
0,VAFB SLC 3W,Vandenberg Space Force Base Space Launch Complex 3W,Vandenberg Space Force Base,California,34.644090,-120.593144,0,0,retired
1,CCSFS SLC 40,Cape Canaveral Space Force Station Space Launch Complex 40,Cape Canaveral,Florida,28.561857,-80.577366,99,97,active
2,STLS,SpaceX South Texas Launch Site,Boca Chica Village,Texas,25.997264,-97.156085,0,0,under construction
3,Kwajalein Atoll,Kwajalein Atoll Omelek Island,Omelek Island,Marshall Islands,9.047721,167.743129,5,2,retired
4,VAFB SLC 4E,Vandenberg Space Force Base Space Launch Complex 4E,Vandenberg Space Force Base,California,34.632093,-120.610829,28,27,active
5,KSC LC 39A,Kennedy Space Center Historic Launch Complex 39A,Cape Canaveral,Florida,28.608058,-80.603956,55,55,active

In [8]:
# Print launch data - filename is parallel to that of Lab 3.1
data.to_csv('spacex_launch_geo_enriched.csv', index = False)